{% extends "core/index.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load pagination_tags %}

{% block head %}
    <style>
        ul.read-first li {
            margin-bottom: 10px;
            font-size: 16px;    
        }

        .tx-16 {
            font-size: 16px;
            font-weight: normal;
        }
    </style>
{% endblock %}

{% block content %}
	<h6 class="page-title"><i class="zmdi zmdi-money"></i> {% trans "Bank Deposit" %}</h6>

	<div class="card-group">
            <div class="card m-b-20 col-md-3">
                <div class="card-body">
                    <h4 class="card-title"><i class="zmdi zmdi-account-add"></i> {% trans "New Deposit" %}</h4>
                    <ul>
                        <li>{% trans "Daily deposit limit is: " %} <strong>{{ BR_DEPOSIT_DAILY_LIMIT }} {% trans "deposits" %}</strong></li>
                    	<li>{% trans "Min deposit is: " %}<strong>R$ {{ BR_DEPOSIT_MIN }}</strong></li>
                    	<li>{% trans "Max deposit is: " %}<strong>R$ {{ BR_DEPOSIT_MAX }}</strong></li>
                    	<li>{% trans "Dedposit fee is: " %}<strong>{{ deposit_fee_percent }}</strong></li>
                    </ul>
                    <hr>
                    {% if today_deposits|length < settings.BR_DEPOSIT_DAILY_LIMIT %}
                    <form method="POST">
                        {% csrf_token %}
                        {% with WIDGET_ERROR_CLASS='parsley-error' %}
                            {% for field in form_new_deposit %}
                                {% if not field.is_hidden %}
                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{ field.label_tag }}
                                            {% render_field field class="form-control" placeholder=field.label %}
                                            {% if field.errors %}
                                                <ul class="parsley-errors-list filled">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}

					   <button type="submit" class="btn btn-primary btn-block">{% trans "Create" %}</button>
                    </form>
                    {% else %}
                    <div class="alert alert-danger"><strong>{% trans "You've achieve the daily deposit limit of: " %} {{ BR_DEPOSIT_DAILY_LIMIT }} {% trans "deposits" %}</strong></div>
                    {% endif %}
                </div>
            </div>
            <div class="card m-b-20 col-md-9">
                <div class="card-body">
                    {% autopaginate deposits 5 %}

                    {% if deposits %}
                    <h4 class="card-title"><i class="zmdi zmdi-accounts-list"></i> {% trans "My Deposits" %}</h4>
                    <ul>
                        <li>{% trans "Deposits must first be requested" %}</li>
                        <li>{% trans "A different amount of the original deposit will be generated, adding up to 5 reais more than the original amount. We do this to facilitate the confirmation of deposits." %}</li>
                        <li>{% trans "If the amount deposited is different from that generated by our system, your deposit will take longer to be confirmed." %}</li>
                        <li>{% trans "It is extremely important that after the deposit, you return to this page and confirm the deposit by clicking on the button: confirm deposit." %}</li>
                    </ul>
                    {% endif %}

                    {% if deposits %}
                        {% paginate %}

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><i class="zmdi zmdi-calendar"></i> {% trans "Created" %}</th>
                                    <th><i class="zmdi zmdi-money"></i> {% trans "Amount" %}</th>
                                    <th><i class="zmdi zmdi-balance"></i> {% trans "Company Bank Account" %}</th>
                                    <th><i class="zmdi zmdi-label-alt"></i> {% trans "Status" %}</th>
                                    <th width="100"><i class="zmdi zmdi-format-list-bulleted"></i> {% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deposit in deposits %}
                                <tr class="text-right">
                                    <td class="align-middle"><strong>{{ deposit.created|date:"SHORT_DATETIME_FORMAT" }}</strong></td>
                                    <td class="align-middle"><h4>R$ {{ deposit.range_amount|floatformat:2 }}</h4></td>
                                    <td class="align-middle">
                                        {% trans "Bank" %}: <strong>{{ deposit.company_bank.title }}</strong><br>
                                        {% trans "Agency" %}: <strong>{{ deposit.company_bank.agency }}</strong><br>
                                        {% trans "Account type" %}: <strong>{{ deposit.company_bank.account_type }}</strong><br>
                                        {% trans "Account number" %}: <strong>{{ deposit.company_bank.account_number }}</strong><br>
                                        {% trans "Holder name" %}: <strong>{{ deposit.company_bank.name }}</strong><br>
                                        {% trans "Holder document" %}: <strong>{{ deposit.company_bank.document }}</strong><br>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="badge badge-{{ deposit.status_type }} tx-16">{% trans deposit.status_title %}</span>
                                    </td>
                                    <td class="align-middle">
                                        {% if deposit.status == 'pending' or deposit.status == 'confirmed' %}
                                            <a href="{% url "payments>confirm-deposit" deposit.pk %}" class="btn btn-dark"><i class="zmdi zmdi-shield-check"></i> {% trans "Confirm Deposit" %}</a>
                                        {% else %}
                                            {% trans "N/A" %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    {% else %}
                        <div class="alert alert-danger">
                            <h1><i class="zmdi zmdi-alert-circle"></i> {% trans "Read First" %}</h1>
                            <ul class="read-first m-t-20">
                                <li>{% trans "Deposits must first be requested" %}</li>
                                <li>{% trans "A different amount of the original deposit will be generated, adding up to 5 reais more than the original amount. We do this to facilitate the confirmation of deposits." %}</li>
                                <li>{% trans "If the amount deposited is different from that generated by our system, your deposit will take longer to be confirmed." %}</li>
                                <li>{% trans "It is extremely important that after the deposit, you return to this page and confirm the deposit by clicking on the button: confirm deposit." %}</li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}