{% extends "core/index.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load pagination_tags %}
{% load thumbnail %}

{% block content %}
	<h6 class="page-title"><i class="zmdi zmdi-shield-check"></i> {% trans "Confirm Deposit" %}</h6>

	<div class="card-group">
        <div class="card m-b-20 col-md-3">
            <div class="card-body">
                <h2>{% trans "Company Account" %}</h2>
                <p>{% trans "Transfer the exact amount of the deposit to the account below" %}</p>
                {% trans "Bank" %}: <strong>{{ confirm_deposit_instance.company_bank.title }}</strong><br>
                {% trans "Agency" %}: <strong>{{ confirm_deposit_instance.company_bank.agency }}</strong><br>
                {% trans "Account type" %}: <strong>{{ confirm_deposit_instance.company_bank.account_type }}</strong><br>
                {% trans "Account number" %}: <strong>{{ confirm_deposit_instance.company_bank.account_number }}</strong><br>
                {% trans "Holder name" %}: <strong>{{ confirm_deposit_instance.company_bank.name }}</strong><br>
                {% trans "Holder document" %}: <strong>{{ confirm_deposit_instance.company_bank.document }}</strong><br>
            </div>
        </div>
        <div class="card m-b-20 col-md-9">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        {% trans "Deposit Amount:" %} 
                        <h1>R$ {{ confirm_deposit_instance.range_amount|floatformat:2 }}</h1>
                    </div>
                    <div class="col-sm-3">
                        {% trans "Original Amount:" %}
                        <h6>R$ {{ confirm_deposit_instance.amount|floatformat:2 }}</h6>
                    </div>
                </div>
                <div class="card m-t-20">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" novalidate>
                            <div class="row">
                                <div class="col-sm-9">
                                    <h4>{% trans "Confirm your deposit" %}</h4>
                                    <p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, at.</p>
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-primary float-right"><i class="zmdi zmdi-cloud-upload"></i> {% trans "Save" %}</button>
                                </div>
                            </div>
                            <hr>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-8">
                                    {% with WIDGET_ERROR_CLASS='parsley-error' %}
                                        <div class="row">
                                            {% for field in form_confirm_deposit %}
                                                {% if not field.is_hidden and not 'id_receipt' in field.id_for_label %}
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ field.label_tag }}
                                                                {% render_field field class="form-control" placeholder=field.label %}
                                                                {% if field.errors %}
                                                                    <ul class="parsley-errors-list filled">
                                                                        {% for error in field.errors %}
                                                                            <li>{{ error }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                {% elif field.is_hidden %}
                                                    {{ field }}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endwith %}
                                </div>
                                <div class="col-md-4">
                                    {{ form_confirm_deposit.receipt.label_tag }}
                                    {% render_field form_confirm_deposit.receipt class="form-control" %}
                                    {% if form_confirm_deposit.receipt.errors %}
                                        <ul class="parsley-errors-list filled">
                                            {% for error in form_confirm_deposit.receipt.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <div class="m-t-10">
                                        {% if confirm_deposit_instance.receipt %}
                                            <img src="{% thumbnail confirm_deposit_instance.receipt 400x400 crop='smart' %}" class="img-fluid">
                                        {% else %}
                                            <img src="http://via.placeholder.com/600x300?text=|" class="img-fluid">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}